.bold {
  font-weight: bold;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* accessibility */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

:focus {
  box-shadow: inset 0 0 0 1px #fa8072;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: unset !important;
    animation: unset !important;
    transition: none !important;
  }
}

/* fix responsive bugs */

*:not(head, script, table, tbody, tfoot, thead, tr, td, th),
::after,
::before,
.flex-column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.flex-row {
  flex-direction: row;
  flex-wrap: wrap;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 62.5%; /* 1em = 10px */
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  flex: 1 0;
  line-height: 1.5;
  scroll-behavior: smooth;
}

html,
body {
  overflow: auto;
}

*[class*="adaptive-img"] {
  position: relative;
}

*[class*="adaptive-img"] > span,
*[class*="adaptive-img"] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*="adaptive-img"] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
  & > img {
    width: 0;
    height: 0;
    margin: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }
}

.adaptive-img--cover > span > img {
  -o-object-fit: cover;
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  -o-object-fit: contain;
  object-fit: contain;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

input {
  border: none;
  outline: none;
  background: transparent;
}
