@use "./mixins";

// variables SCSS car les variables CSS :root ne sont pas prises en compte dans les mixins. //

$sizeAll: 100%;
$border-color: rgba(0, 0, 0, 0.2);

/////////////////////////////////////////////////////////////////////////////
///////////////////////////HEADER////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////

header {
  &::after {
    content: "";
    background-color: $border-color;
    position: absolute;
    width: 1px;
    height: $sizeAll;
    position: absolute;
    right: 0;
  }
  &:hover::before {
    display: flex;
  }
  width: 300px;
  height: 100vh;
  transition: 300ms;
  position: relative;
}

/*************************** LOGO & VERSION ***************************/

.logo {
  &-version {
    gap: 14px;
    padding-top: 32px;
    padding-bottom: 16px;
  }
  .adaptive-img--contain {
    height: 57px;
  }
}

.version {
  --size44: 44px;
  &__container {
    position: relative;
    align-items: center;
  }
  gap: 10px;
  padding: 0 10px;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
  @include mixins.link-hover;
  & > span {
    height: var(size44);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: var(size44);
    font-family: "Inconsolata";
    color: rgba(0, 0, 0, 0.87);
  }
  &__options {
    transform: scale(0);
    transform-origin: top left;
    transition: transform 0.2s linear;
    top: 0;
    left: 114px;
    width: 100px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
      0 1px 5px 0 rgb(0 0 0 / 20%);
    & a {
      padding: 0 10px;
      line-height: 50px;
      height: 50px;
      text-decoration: none;
      font-size: 1.3rem;
      font-family: "Inconsolata";
      color: rgba(0, 0, 0, 0.87);
      @include mixins.link-hover;
    }
  }
}

.version__options:hover,
.version:hover + .version__options {
  transform: scale(1);
  z-index: 1;
}

.triangle-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  display: inline-block;
  border-width: 5px 5px 0 5px;
  border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
}

/***************************** SEARCH *****************************/

.search {
  @mixin border-elements {
    content: "";
    background-color: $border-color;
    position: absolute;
    height: 1px;
    width: $sizeAll;
  }
  min-height: 62px;
  align-items: center;
  flex-direction: row;
  position: relative;
  &::before {
    @include border-elements;
    top: 0;
    left: 0;
  }
  &::after {
    @include border-elements;
    bottom: 0;
    left: 0;
  }
  & div {
    &:first-child {
      flex: 1 0;
      height: $sizeAll;
      justify-content: center;
    }
    &:last-child {
      width: 45px;
      height: 24px;
    }
  }
  & input {
    background-image: url(/public/images/search_black_24dp.svg);
    background-repeat: no-repeat;
    background-position: center right;
    height: $sizeAll;
    border: none;
    outline: none;
    padding: 0 45px 0 30px;
    &::-webkit-input-placeholder {
      color: hsla(0, 0%, 0%, 0.5);
    }
    &::-moz-placeholder {
      color: hsla(0, 0%, 0%, 0.5);
    }
    &:-ms-input-placeholder {
      color: hsla(0, 0%, 0%, 0.5);
    }
    &::-ms-input-placeholder {
      color: hsla(0, 0%, 0%, 0.5);
    }
    &::placeholder {
      color: hsla(0, 0%, 0%, 0.5);
    }
  }
}