@use "mixins";

main {
  flex: 1 0;
  padding: 0 30px;
  height: 100vh;
  overflow: auto;
}

h1 {
  font-weight: 300;
  margin-bottom: 100px;
  position: relative;
  text-align: center;
}

.block {
  &-container {
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin-top: -32px
  }
  h3,
  p {
    text-align: center;
  }
  h3 {
    font-weight: 500;
    font-size: 2.4rem;
  }
  p {
    font-weight: 300;
  }
  .adaptive-img--contain {
    height: 98px;
  }
  flex: 1 0;
  gap: 16px; 
  padding: 0 16px;
  min-width: 200px;
  margin-top: 32px;
}