
@mixin flex-column {
  display: flex;
  flex-direction: column; 
}

@mixin flex-row($size: 0, $gap: 0px){
  @if $size == 0 {
    & > * {
      flex: 1 0;
    }
  }
  @else {
      flex: 1 calc((100 / $size) - $gap);
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $gap;
}

@mixin link-hover {
  &:hover,
  &:focus {
  background-color: rgba(0, 0, 0, 0.05);
  }
}

@mixin menu-onclick {
  background-repeat: no-repeat;
  background-size: 3rem;
  width: 3rem;
  height: 3rem;
  top: 5%;
  cursor: pointer;
}