@use "./mixins";

/////////////////////////////////////////////////////////////////////////////
////////////////////////////NAV//////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////

.nav {
  --nav-element-height: 44px;
  ul {
    margin: 0;
  }
  li {
    transition: 0.3s ease-out;
    @include mixins.link-hover;
  }
    a {
    height: var(--nav-element-height);
    font-size: 1.3em;
    padding: 0 30px;
    line-height: var(--nav-element-height);
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }
  overflow: auto;
}

.sub-list {
  a {
    padding-left: 45px;
  }
  li {
    background: white;
  }
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-out;
}

@for $i from 10 through 30 {
  .nav li:hover > .list-#{$i},
  .list-#{i}:hover {
    height: calc(var(--nav-element-height) * $i);
  }
}