@use "./mixins";


.active {
  display: flex;
  &__shadow {
  --sizeAll: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sizeAll);
  height: var(--sizeAll);
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  }
}

  shadow {
  --sizeAll: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sizeAll);
  height: var(--sizeAll);
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  }


.hamberger_menu {
  position: absolute;
  background-image: url(/public/images/menu_black_24dp.svg);
  @include mixins.menu-onclick;
  background-position: top 0 left 32px;
  display: none;
  z-index: 10;
  width: 100px;
}

@media (max-width: 922px) {
  
  header {
    .close-icon {
      position: absolute;
      background-image: url("/public/images/close_black_24dp.svg");
      @include mixins.menu-onclick;
      top: 0;
      right: 0;
      background-position: top 0 right 8px;
    }
    .logo-version {
      margin-top: 3.5rem;
      padding: 0;
    }
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: white;
    width: 300px;
  }

  .hamberger_menu {
    display: flex;
  }
}
